* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 1100px;
  margin: 0 auto;
}
.header {
  font-family: "Raleway", sans-serif;
  width: 1100px;
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 50px;
}
.header__menu {
  display: flex;
  position: relative;
}
.header__links-list {
  font-family: "Raleway", sans-serif;
  display: flex;
  gap: 32px;
  white-space: nowrap;
  font-size: 18px;
  width: 392px;
}
.header__links-list a {
  color: black;
}
.header__links-list-item.active-item a {
  /*обращаемся к ссылке,чтобы убрать линию */
  text-decoration: none;
}
.header__links-list-item.active-item {
  /*обращаемся к активному айтему,чтобы убрать маркер */
  list-style: none;
}
.header__links-list-item a {
  list-style: circle;
  text-decoration: underline;
}
.header__logo {
  width: 140px;
  height: 110px;
  display: block;
  justify-self: center;
}
.header__logo-image {
  display: block;
  height: auto;
}
.header .adress {
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 18px;
  justify-self: end;
  text-align: left;
  font-style: normal;
  padding: 0;
  width: 240px;
  line-height: 24px;
}
.adress a {
  color: black;
}
.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 757px;
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  justify-content: space-between;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.cover__title {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
  margin-bottom: 207px;
  margin: 165px 50px 0;
}
.cover__title span {
  letter-spacing: 0.3em; /* расстояние между буквами */
}
.aligned-text {
  display: block;
  font-size: 100px;
  font-weight: 700;
}
.aligned-text_left {
  align-self: flex-start;
}
.aligned-text_center {
  align-self: center;
  width: 339px;
  margin-top: 15px;
}
.aligned-text_right {
  align-self: flex-end;
  width: 387px;
  margin-top: 20px;
}
.letter-spacing-extended {
  letter-spacing: 0.3em;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 50px 50px; /* отступы от боков и низа */
  z-index: 1;
}
.cover__description-text {
  width: 637px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-align: justify;
  text-align-last: justify;
  line-height: 28px;
  margin: 0;
  margin-right: 107px;
  letter-spacing: 0;
}
.bet-button {
  display: inline-block;
  padding: 12px 32px;
  background: transparent;
  color: white;
  white-space: nowrap;
  border: 1px solid white;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  height: 51px;
}
.lots__card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lots {
  font-family: "Raleway", sans-serif;
  margin-top: 180px;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 27px;
}
.lots__heading {
  font-size: 40px;
  margin-left: 64px;
  text-transform: uppercase;
}
.lots__card-list-item {
  min-height: 596px;
  width: 334px;
}
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  box-sizing: border-box;
}
.overlay {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}
.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}
.card__text {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 400;
  z-index: 2;
  line-height: 24px;
}
.lots__look-more-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: black;
  margin-left: 64px;
  margin-top: 30px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-top: 120px;
  font-family: "Raleway", sans-serif;
}
.about__logo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  background-color: black;
  width: 240px;
  height: 240px;
  margin-left: 71px;
  margin-top: 35px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 136px;
}
.description__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
}
.about__text {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 24px;
  font-size: 20px;
  line-height: 24px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: black;
}
.footer .adress {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 18px;
  justify-self: start;
  text-align: left;
  font-style: normal;
  padding-left: 50px;
  padding-top: 181px;
}
.adress a {
  color: black;
}
.footer__address-line {
  margin-top: 5px; /* расстояние ареса от почты и телефона */
  line-height: 24px;
}
.footer_menu {
  justify-self: center;
}

.footer__links-list {
  font-family: "Raleway", sans-serif;
  margin: 0;
  white-space: nowrap;
  margin-top: 145px;
  font-size: 18px;
}
.footer__adress a {
  color: black;
  text-decoration: none;
}
.footer__links-list a {
  color: black;
  text-decoration: none;
}
.no__underline-footer {
  text-decoration: none;
}

.footer__links-list-item {
  list-style: none;
  text-align: center;
}
.img__footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  gap: 48px;
  margin-top: 130px;
}
.socials {
  width: 48px;
  height: 48px;
}
